# Yarn Berry artifacts - must not go into docker context
.yarn/cache
.yarn/build-state.yml
.yarn/install-state.gz

# (optional but recommended)
*/node_modules
**/.yarn/unplugged
**/.yarn/cache
**/.yarn/build-state.yml
**/.pnp.*
**/.cache
