# ===== Identity / naming =====
PREFIX="idp-poc"
LOCATION="uksouth"

# ===== GitHub =====
GITHUB_ORG="vpydikondala"
PLATFORM_REPO="platform-poc"
GITOPS_REPO="env-gitops"

# ===== AKS =====
AKS_NODE_COUNT="2"
AKS_VM_SIZE="Standard_DS2_v2"

# ===== DNS helper =====
USE_SSLIP="true"
BACKSTAGE_HOST_PREFIX="backstage"
ARGOCD_HOST_PREFIX="argocd"

# ===== Email for Let's Encrypt =====
EMAIL="pvbabu@yahoo.com"

# ===== Backstage =====
BACKSTAGE_NAMESPACE="platform"
BACKSTAGE_SERVICE_NAME="backstage"
BACKSTAGE_IMAGE="ghcr.io/backstage/backstage"
BACKSTAGE_IMAGE_TAG="latest"
BACKSTAGE_AUTH_MODE="oidc"

# ===== ArgoCD =====
ARGOCD_NAMESPACE="argocd"
ARGOCD_RELEASE="argocd"

# ===== TechDocs =====
TECHDOCS_CONTAINER="techdocs"

# ===== Managed Postgres (Flexible Server) =====
ENABLE_POSTGRES="true"
POSTGRES_ADMIN_USER="backstage_admin"
POSTGRES_SKU="B_Standard_B1ms"
POSTGRES_STORAGE_GB="32"
POSTGRES_VERSION="16"
POSTGRES_ALLOW_AZURE="true"
