app:
  title: IDP PoC
  baseUrl: https://${BACKSTAGE_HOST}

backend:
  baseUrl: https://${BACKSTAGE_HOST}
  listen:
    port: 7007
  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: 5432
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
      database: ${POSTGRES_DB}
      ssl:
        rejectUnauthorized: false

auth:
  environment: production
  providers:
    guest: {}

integrations:
  github:
  - host: github.com
    token: ${GITHUB_TOKEN}

catalog:
  rules:
  - allow: [ Component, API, Resource, System, Domain, Group, User, Template, Location ]
  locations:
  # github-discovery REMOVED because your backend image does not include GithubDiscoveryProcessor
  - type: url
    target: https://github.com/${GITHUB_ORG}/${PLATFORM_REPO}/blob/main/templates/backstage/catalog/locations.yaml

techdocs:
  builder: local
  generator:
    runIn: 'local'
  publisher:
    type: azureBlobStorage
    azureBlobStorage:
      containerName: ${TECHDOCS_CONTAINER}
      credentials:
        accountName: ${TECHDOCS_STORAGE_ACCOUNT}
        accountKey: ${TECHDOCS_STORAGE_KEY}

argocd:
  appLocatorMethods:
  - type: config
    instances:
    - name: argo
      url: ${ARGOCD_URL}
