apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels: { app: backstage }
  template:
    metadata:
      labels:
        app: backstage
        azure.workload.identity/use: "true"
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
        - name: backstage
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}

          ports:
            - containerPort: 7007
          envFrom:
            - secretRef:
                name: backstage-secrets
          volumeMounts:
            - name: cfg
              mountPath: /app/app-config.production.yaml
              subPath: app-config.production.yaml
      volumes:
        - name: cfg
          configMap:
            name: backstage-config
