apiVersion: v1
kind: Secret
metadata:
  name: backstage-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  BACKSTAGE_HOST: {{ .Values.env.BACKSTAGE_HOST | quote }}
  ARGOCD_URL: {{ .Values.env.ARGOCD_URL | quote }}
  GITHUB_ORG: {{ .Values.env.GITHUB_ORG | quote }}
  GITHUB_TOKEN: {{ .Values.env.GITHUB_TOKEN | quote }}
  TECHDOCS_STORAGE_ACCOUNT: {{ .Values.env.TECHDOCS_STORAGE_ACCOUNT | quote }}
  TECHDOCS_STORAGE_KEY: {{ .Values.env.TECHDOCS_STORAGE_KEY | quote }}
  TECHDOCS_CONTAINER: {{ .Values.env.TECHDOCS_CONTAINER | quote }}
  POSTGRES_HOST: {{ .Values.env.POSTGRES_HOST | quote }}
  POSTGRES_USER: {{ .Values.env.POSTGRES_USER | quote }}
  POSTGRES_PASSWORD: {{ .Values.env.POSTGRES_PASSWORD | quote }}
  POSTGRES_DB: {{ .Values.env.POSTGRES_DB | quote }}
  BACKSTAGE_AUTH_MODE: {{ .Values.env.BACKSTAGE_AUTH_MODE | quote }}

data:
  TECHDOCS_STORAGE_ACCOUNT: {{ .Values.techdocs.storageAccount | b64enc | quote }}
  TECHDOCS_STORAGE_KEY: {{ .Values.techdocs.storageKey | b64enc | quote }}
  TECHDOCS_CONTAINER: {{ .Values.techdocs.container | b64enc | quote }}

