name: Build & Push Image

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

env:
  IMAGE_NAME: "{{ name }}"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - run: az acr login -n {{ acrName }}

      - run: |
          TAG=${GITHUB_SHA::7}
          docker build -t {{ acrName }}.azurecr.io/{{ name }}:$TAG .
          docker push {{ acrName }}.azurecr.io/{{ name }}:$TAG
